<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Visualization</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500&display=swap" rel="stylesheet">
   
     <!-- Bootstraps Java Scipts Links -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 
     <!-- JQuery links  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <!--High CHART LIVE  -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <!--Gauge  -->
    <script type="text/javascript" src="http://pubnub.github.io/eon/lib/eon.js"></script>
</head>

<body background="static/images/formulario.png">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="static/images/logo.png" class="logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
          </ul>
        </div>
      </nav>
    
      <div class="box-form">
        <div class="create">
            <h1 class="title">Create Profile </h1>
        </div> 
        <div class="form">

            <form action = "/add_course" method = "post" enctype="multipart/form-data">
                <label for = "courses">Courses </label>
                <input type ="text" id="courses" name="courses"/>
                <input type ="submit" value="Ok" class="button2">
            </form><br>

            

            <form action = "/add_interest" method = "post" enctype="multipart/form-data">
                <label for = "interest">Interest </label>
                <input type ="text" id="interest" name="interest"/>
                <input type = "submit" value="Ok" class="button2">
            </form><br>

            <form action = "/success_user" method = "post" enctype="multipart/form-data">
                <div class = "contenido">
                    Semester <br>
                    <label for = "s1">1 </label>
                    <input type ="radio" id="s1" name="semester" value="1" required/>
                    <label for = "s2">2 </label>
                    <input type ="radio" id="s2" name="semester" value="2"/>
                    <label for = "s3">3 </label>
                    <input type ="radio" id="s3" name="semester" value="3"/>
                    <label for = "s4">4 </label>
                    <input type ="radio" id="s4" name="semester" value="4"/>
                    <label for = "s5">5 </label>
                    <input type ="radio" id="s5" name="semester" value="5"/>
                    <label for = "s6">6 </label>
                    <input type ="radio" id="s6" name="semester" value="6"/><br>

                    Degree <br>
                    <label for = "bachelor">Bachelor </label>
                    <input type ="radio" id="bachelor" name="degree" value="bachelor" required/>
                    <label for = "master">Master </label>
                    <input type ="radio" id="master" name="degree" value="master"/><br>

                    Language <br>
                    <label for = "english">English </label>
                    <input type ="radio" id="english" name="language" value="english" required/>
                    <label for = "german">German </label>
                    <input type ="radio" id="german" name="language" value="german"/><br>

                    <label for = "study_program">Study Program </label>
                    <select id= "study_program" name="study_program">
                        <option value="computer science">Computer Science</option>
                        <option value="medicine">Medicine</option>
                        <option value="chemistry">Chemistry</option>
                        <option value="data science">Data Science</option>
                    </select><br>
                </div>
                <input type = "submit" value="Create User" class="button">
            </form>
        </div>
    </div>

    <style>
        body{
            background-size: cover;
            font-family: 'Montserrat', sans-serif;
        }

        .box-form{
            margin-top: 150px;
            margin-left: 100px;
        }

        .title{
            color: white;
            margin-left: 10px;font-size:x-large;
        }

        .logo{
            height: 50px;
        }

        .create{
            display: flex;
            background-color: black;
            padding: 10px;
            width: 500px;
        }

        .form{
            background-color: rgb(250, 250, 250);
            padding: 20px;
            width: 500px;
        }

        .contenido{
            margin-left: 70px;
            margin-top: 10px;
        }

        .button{
            width: 310px;
            background-color: black;
            border:none;
            height: 50px;
            color: white;
        }

        .button:hover{
            background-color: rgb(73, 73, 73);
        }

    </style>

    <!-- <div class="container-fluid">
        <div class="row">
            <div class="container-fluid" id="data-temperature">

            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid" id="data-humidity">

            </div>
        </div>
    </div> -->
<!-- <script>
    let chartData;

    function requestData()
    {
        // Ajax call to get the Data from Flask
        let requests = $.get('/data');

        let tm = requests.done(function (result)
        {
            if(result){
            // Temperature
            let seriesData = chartData.series[0],
                shiftData = seriesData.data.length > 20;

            // Add the Point
            // Time Beat\
            let data1 = [];
            data1.push(result.time);
            data1.push(result.beat);


            chartData.series[0].addPoint(data1, true, shiftData);
            $(".sensor1").text("");
            $(".sensor1").text("Beat : " +  Math.round(data1[1]) );
        }
            // call it again after one second
            setTimeout(requestData, 4000);

        });
    }

    $(document).ready(function()
    {
        // --------------Chart 1 ----------------------------
        chartData = new Highcharts.Chart({
            chart:
                {
                renderTo: 'data-temperature',
                defaultSeriesType: 'area',
                events: {
                    load: requestData
                        }
                },
            title:
                {
                text: 'Beat'
                },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150,
                maxZoom: 20 * 1000
                    },
            yAxis: {
                minPadding: 0.2,
                maxPadding: 0.2,
                title: {
                    text: 'Value',
                    margin: 80
                        }
                     },
            series: [{
                color : '#06516F',
                lineColor: '#303030',
                name: 'Beat',
                data: []
            }]
        });
        // --------------Chart 1 Ends - -----------------
    });
</script> -->

<!-- <script>
    class Image{

        constructor(imgUrl, size)
        {
            this.imgUrl=imgUrl;
            this.size=size;
        }

        backgroundImage()
        {
            console.log("inside function ")
            // Select the Image
            var img = document.querySelector(".jumbotron");

            // create Css Text
            var text = "margin:auto;"+
                "background-image: url("+this.imgUrl+");" +
                "background-size:cover;"+
                "opacity:1;"+
                "background-blend-mode: darken;"+
                "height: "+ this.size + "vh;";

            img.style.cssText =  text;
        }

        centerTitle()
        {
            /*
                Center the Title
             */
            var t1 = document.querySelector("#title");
            t1.classList.add("text-white");
            t1.classList.add("text-center");
            t1.classList.add("display-3");
        }
    }
    const imgUrl = 'https://www.narayanahealth.org/blog/wp-content/uploads/2020/06/shutterstock_1175809159-1170x587.jpg'
    const size = "69";
    var obj = new Image(imgUrl, size);
    obj.backgroundImage();
    obj.centerTitle();
    </script> -->
</body>
</html>